body{
   margin: 0px;
   text-align: center;
   font-family: 'Merriweather', serif;
}
hr {
    border:dotted  #bdc0c0 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top_container{
    background-color:#BFFFF0 ;
    margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     padding-top:210px;
     position: relative;
}
 h1{
     margin: 0 auto ;
     margin: 50px auto 0 auto;
     ;
     font-family: 'Sacramento', cursive;
     font-size: 562.5%;
     color: #66BFBF;
     
 }
 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
 }
 h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
 }
 
 .pro{
     text-decoration: underline;
 }
 .bottom_cloud{
     position: absolute;
     left: 300px;
     bottom: 300px;

 }
 .top_cloud{
     position: absolute;
     right: 300px;
     top: 50px;
 }
 .my-photo{
     padding: 10px;
     border-style: hidden;
     border-radius: 90px;
 }
 .Graphic{
     border-style: hidden;
     border-radius: 57px;
     width:25%;
     float: left;
     margin-right: 30px;
 } 
 .contact-me{
padding: 30px;
 }
 .bottom_container{
     background-color:#66BFBF ;
     padding: 30px;
 }
 .nav{
    position:fixed;
    height:40px;
    top:0px;
    width:100%;
    background-color:#009DAE;
    text-align: left;
    overflow: hidden;
    font-family: cursive;
}
.nav a{
    float:left;
    color:#C2FFF9;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size:17px;

}
.nav a:hover {
    background-color: #FFE652;
    color: #009DAE;
}
#login{
    float: right;
}
.first{
    width: 100%;
    height:100%;
    background-color: rgb(22, 189, 175);
}
.webdev{
    border-style: hidden;
    border-radius: 233px;
    width: 25%;
    float: right;
    margin-left: 30px;

}
.youtube{
    background-color: green;
    color:#11999E ;
    margin-left: 10px;
    margin-right: 10px;
    border-style: hidden;
    border-radius: 20px;
    width:150px;
    height:30px;
}
.mail{
    background-color: rgb(50, 142, 228);
    color: #11999E;border-style: hidden;
    border-radius: 8px;
    width:150px;
    height:30px;
    
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        height: 75px;
        width: 400px;
        margin: 50px;
      }
      
      .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }


.insta{
    background-color: yellow;
    color:grey;border-style: hidden;
    border-radius: 20px;
    width:150px;
    height:30px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.footer-link{
    text-decoration: none;
    color: #11999E;
    margin: 40px 10px 40px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.linkedin{
    border-style: hidden;
    border-radius: 20px;
    width:150px;
    height:30px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.twitter{
    border-radius: 20px;
    width:150px;
    height:30px;
    border-style: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.app{
    border-radius: 20px;
    width:150px;
    height:30px;border-style: hidden;
    margin-left: 10px;
    margin-right: 10px;

}
.white{
    background-color: white;
}
.skill ,.skill-row{
    width: 50%;
    margin: 100px auto; 
    text-align: left;
    line-height: 2;
}
.footer-ending{
    color: #EAF6F6;
    margin: 40px 10px 30px 10px;
}
hr{
    text-decoration: double;
}
.middle_container{
    margin: 100px 0 100px 0;
}
.myintro{
    margin-bottom: 30px;
    width: 30%;
    margin: auto;
}
